.search-bar {
  background: white;
  padding: 20px;
  display: flex;
  gap: 12px;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin: 30px auto 40px;
  width: 80%;
  border-radius: 10px;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  min-width: 160px;
}
