.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
    height: 100vh;
  width: 100vw;

  /* Remove default margin */
  margin: 0;
  padding: 0;

}

.tab {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.tab h4 {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
}

.tab .active {
  color: #0d6efd;
  font-weight: 600;
  border-bottom: 3px solid #0d6efd;
}

.form-container {
  width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Blue border only for User login */
.user-border {
  border: 2px solid #0d6efd;
}

.go-back {
  margin-top: 20px;
  text-align: center;
}

.go-back a {
  text-decoration: none;
  color: #0d6efd;
  font-weight: 600;
}

.go-back a:hover {
  text-decoration: underline;
}
